$primary:   #6f2427;
$secondary: #d6424e;
$success:   #55932b;
$info:      #4e6187;
$warning:   #fcbb4f;
$danger:    #e61b61;
$light:     #fbf3e7;
$dark:      #11120f;


@import "../node_modules/bootstrap/scss/bootstrap";
